.wireframe-11,
.wireframe-11 * {
  box-sizing: border-box;
}
.wireframe-11 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.wildlife-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  opacity: 0.8;
  width: 114.03%;
  height: 100%;
  position: absolute;
  right: -7.01%;
  left: -7.01%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.rectangle-2 {
  background: #2c333d;
  width: 92.43%;
  height: 11.23%;
  position: absolute;
  right: 0%;
  left: 7.57%;
  bottom: 78.61%;
  top: 10.16%;
}
.image-1 {
  width: 7.5%;
  height: 10.16%;
  position: absolute;
  right: 92.5%;
  left: 0%;
  bottom: 89.84%;
  top: 0%;
  object-fit: cover;
}
.screenshot-2025-01-30-170115-removebg-preview-1 {
  width: 25.49%;
  height: 67.09%;
  position: absolute;
  right: 67.01%;
  left: 7.5%;
  bottom: 10.94%;
  top: 21.97%;
  object-fit: cover;
}
.screenshot-2025-01-30-170115-removebg-preview-2 {
  width: 25.49%;
  height: 67.09%;
  position: absolute;
  right: 37.15%;
  left: 37.36%;
  bottom: 10.94%;
  top: 21.97%;
  object-fit: cover;
}
.screenshot-2025-01-30-170115-removebg-preview-3 {
  width: 25.49%;
  height: 67.09%;
  position: absolute;
  right: 7.29%;
  left: 67.22%;
  bottom: 10.94%;
  top: 21.97%;
  object-fit: cover;
}
.rectangle-13 {
  background: #323433;
  width: 12.43%;
  height: 7.91%;
  position: absolute;
  right: 73.06%;
  left: 14.51%;
  bottom: 41.21%;
  top: 50.88%;
}
.ai-chatbots-for-conservation-awareness-ai-powered-chatbots-and-apps-will-educate-people-about-wildlife-conservation-governments-and-organizations-will-use-ai-to-encourage-local-communities-to-protect-nature {
  color: #ffffff;
  text-align: left;
  position: absolute;
  right: 68.89%;
  left: 11.32%;
  width: 19.79%;
  bottom: 8.01%;
  top: 43.46%;
  height: 48.54%;
}
.ai-chatbots-for-conservation-awareness-ai-powered-chatbots-and-apps-will-educate-people-about-wildlife-conservation-governments-and-organizations-will-use-ai-to-encourage-local-communities-to-protect-nature-span {
  color: #ffffff;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.ai-chatbots-for-conservation-awareness-ai-powered-chatbots-and-apps-will-educate-people-about-wildlife-conservation-governments-and-organizations-will-use-ai-to-encourage-local-communities-to-protect-nature-span2 {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.rectangle-14 {
  background: #323433;
  width: 13.75%;
  height: 11.91%;
  position: absolute;
  right: 42.01%;
  left: 44.24%;
  bottom: 36.62%;
  top: 51.46%;
}
.rectangle-15 {
  background: #323433;
  width: 13.75%;
  height: 11.91%;
  position: absolute;
  right: 13.12%;
  left: 73.12%;
  bottom: 36.62%;
  top: 51.46%;
}
._5-ai-for-climate-change-habitat-protection-ai-will-study-climate-change-effects-on-wildlife-and-predict-future-risks-it-will-help-scientists-protect-forests-oceans-and-animal-homes-from-destruction {
  color: #ffffff;
  text-align: left;
  position: absolute;
  right: 39.65%;
  left: 40.83%;
  width: 19.51%;
  bottom: 7.13%;
  top: 44.34%;
  height: 48.54%;
}
._5-ai-for-climate-change-habitat-protection-ai-will-study-climate-change-effects-on-wildlife-and-predict-future-risks-it-will-help-scientists-protect-forests-oceans-and-animal-homes-from-destruction-span {
  color: #ffffff;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
._5-ai-for-climate-change-habitat-protection-ai-will-study-climate-change-effects-on-wildlife-and-predict-future-risks-it-will-help-scientists-protect-forests-oceans-and-animal-homes-from-destruction-span2 {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
._6-ai-robots-for-wildlife-research-ai-powered-robots-will-explore-deep-forests-and-oceans-collecting-data-where-humans-can-t-go-these-robots-will-help-scientists-study-rare-and-unknown-species {
  color: #ffffff;
  text-align: left;
  position: absolute;
  right: 9.72%;
  left: 70.49%;
  width: 19.79%;
  bottom: 7.13%;
  top: 44.34%;
  height: 48.54%;
}
._6-ai-robots-for-wildlife-research-ai-powered-robots-will-explore-deep-forests-and-oceans-collecting-data-where-humans-can-t-go-these-robots-will-help-scientists-study-rare-and-unknown-species-span {
  color: #ffffff;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
._6-ai-robots-for-wildlife-research-ai-powered-robots-will-explore-deep-forests-and-oceans-collecting-data-where-humans-can-t-go-these-robots-will-help-scientists-study-rare-and-unknown-species-span2 {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 28px;
  font-weight: 400;
}
.robot-removebg-preview-1 {
  width: 7.29%;
  height: 13.67%;
  position: absolute;
  right: 16.39%;
  left: 76.32%;
  bottom: 56.93%;
  top: 29.39%;
  object-fit: cover;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  right: 43.54%;
  left: 47.01%;
  width: 9.44%;
  bottom: 53.71%;
  top: 32.03%;
  height: 14.26%;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  right: 71.88%;
  left: 17.36%;
  width: 10.76%;
  bottom: 53.52%;
  top: 32.52%;
  height: 13.96%;
}
.rectangle-1 {
  background: #2c333d;
  border-radius: 50px;
  width: 22.36%;
  height: 8.5%;
  position: absolute;
  right: 2.29%;
  left: 75.35%;
  bottom: 1.95%;
  top: 89.55%;
}
.next-page {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  right: 2.29%;
  left: 79.17%;
  width: 18.54%;
  bottom: 1.07%;
  top: 91.31%;
  height: 7.62%;
}
.rectangle-3 {
  background: #2c333d;
  border-radius: 50px;
  width: 22.36%;
  height: 8.5%;
  position: absolute;
  right: 74.65%;
  left: 2.99%;
  bottom: 1.95%;
  top: 89.55%;
}
.previous-page {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  right: 75.56%;
  left: 3.82%;
  width: 20.62%;
  bottom: 0.88%;
  top: 91.21%;
  height: 7.91%;
}
.future-directions-in-ai-conservation {
  color: #ffffff;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 85px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 7.57%;
  width: 92.43%;
  bottom: 75.2%;
  top: 11.33%;
  height: 13.48%;
}
