.wireframe-10,
.wireframe-10 * {
  box-sizing: border-box;
}
.wireframe-10 {
  background: #ffffff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.wildlife-1 {
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  opacity: 0.8;
  width: 114.03%;
  height: 100%;
  position: absolute;
  right: -7.01%;
  left: -7.01%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  object-fit: cover;
}
.rectangle-2 {
  background: #2c333d;
  width: 92.43%;
  height: 11.23%;
  position: absolute;
  right: 0%;
  left: 7.57%;
  bottom: 78.61%;
  top: 10.16%;
}
.image-1 {
  width: 7.5%;
  height: 10.16%;
  position: absolute;
  right: 92.5%;
  left: 0%;
  bottom: 89.84%;
  top: 0%;
  object-fit: cover;
}
.future-directions-in-ai-conservation {
  color: #ffffff;
  text-align: center;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 85px;
  font-weight: 400;
  position: absolute;
  right: 0%;
  left: 7.57%;
  width: 92.43%;
  bottom: 74.51%;
  top: 12.01%;
  height: 13.48%;
}
.screenshot-2025-01-30-170115-removebg-preview-1 {
  width: 25.49%;
  height: 67.09%;
  position: absolute;
  right: 66.94%;
  left: 7.57%;
  bottom: 11.43%;
  top: 21.48%;
  object-fit: cover;
}
.screenshot-2025-01-30-170115-removebg-preview-2 {
  width: 25.49%;
  height: 67.09%;
  position: absolute;
  right: 37.08%;
  left: 37.43%;
  bottom: 11.43%;
  top: 21.48%;
  object-fit: cover;
}
.screenshot-2025-01-30-170115-removebg-preview-3 {
  width: 25.49%;
  height: 67.09%;
  position: absolute;
  right: 7.22%;
  left: 67.29%;
  bottom: 11.43%;
  top: 21.48%;
  object-fit: cover;
}
.rectangle-13 {
  background: #323433;
  width: 12.43%;
  height: 7.91%;
  position: absolute;
  right: 73.33%;
  left: 14.24%;
  bottom: 41.5%;
  top: 50.59%;
}
._1-ai-powered-drones-for-wildlife-monitoring-drones-with-ai-cameras-will-track-animals-from-the-sky-without-disturbing-them-they-will-detect-poachers-track-endangered-species-and-monitor-forests-in-real-time {
  color: #ffffff;
  text-align: left;
  position: absolute;
  right: 68.82%;
  left: 11.39%;
  width: 19.79%;
  bottom: 8.5%;
  top: 42.97%;
  height: 48.54%;
}
._1-ai-powered-drones-for-wildlife-monitoring-drones-with-ai-cameras-will-track-animals-from-the-sky-without-disturbing-them-they-will-detect-poachers-track-endangered-species-and-monitor-forests-in-real-time-span {
  color: #ffffff;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
._1-ai-powered-drones-for-wildlife-monitoring-drones-with-ai-cameras-will-track-animals-from-the-sky-without-disturbing-them-they-will-detect-poachers-track-endangered-species-and-monitor-forests-in-real-time-span2 {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 27px;
  font-weight: 400;
}
.white-camera-smart-drone-png-images-drone-illustration-smart-drone-electric-aircraft-png-transparent-background-pngtree-removebg-preview-2 {
  width: 16.81%;
  height: 26.17%;
  position: absolute;
  right: 71.25%;
  left: 11.94%;
  bottom: 50.68%;
  top: 23.14%;
  object-fit: cover;
}
.rectangle-14 {
  background: #323433;
  width: 13.75%;
  height: 11.91%;
  position: absolute;
  right: 41.94%;
  left: 44.31%;
  bottom: 38.38%;
  top: 49.71%;
}
.rectangle-15 {
  background: #323433;
  width: 13.75%;
  height: 11.91%;
  position: absolute;
  right: 13.06%;
  left: 73.19%;
  bottom: 38.38%;
  top: 49.71%;
}
._2-smarter-ai-cameras-sensors-ai-cameras-will-automatically-identify-animals-and-send-alerts-when-needed-motion-and-heat-sensors-will-track-animals-even-in-the-dark-or-thick-forests {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  right: 39.31%;
  left: 40.9%;
  width: 19.79%;
  bottom: 7.62%;
  top: 43.85%;
  height: 48.54%;
}
._2-smarter-ai-cameras-sensors-ai-cameras-will-automatically-identify-animals-and-send-alerts-when-needed-motion-and-heat-sensors-will-track-animals-even-in-the-dark-or-thick-forests-span {
  color: #ffffff;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
._2-smarter-ai-cameras-sensors-ai-cameras-will-automatically-identify-animals-and-send-alerts-when-needed-motion-and-heat-sensors-will-track-animals-even-in-the-dark-or-thick-forests-span2 {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
._3-ai-dna-tracking-ai-will-analyze-dna-samples-like-hair-or-droppings-to-identify-rare-species-and-check-their-health-this-will-help-scientists-find-and-protect-animals-without-needing-to-catch-them {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  right: 9.65%;
  left: 70.56%;
  width: 19.79%;
  bottom: 7.62%;
  top: 43.85%;
  height: 48.54%;
}
._3-ai-dna-tracking-ai-will-analyze-dna-samples-like-hair-or-droppings-to-identify-rare-species-and-check-their-health-this-will-help-scientists-find-and-protect-animals-without-needing-to-catch-them-span {
  color: #ffffff;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
._3-ai-dna-tracking-ai-will-analyze-dna-samples-like-hair-or-droppings-to-identify-rare-species-and-check-their-health-this-will-help-scientists-find-and-protect-animals-without-needing-to-catch-them-span2 {
  color: #ffffff;
  list-style-type: disc;
  padding-left: 1em;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
}
.div {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  right: 43.68%;
  left: 46.88%;
  width: 9.44%;
  bottom: 53.22%;
  top: 32.52%;
  height: 14.26%;
}
.div2 {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 100px;
  font-weight: 400;
  position: absolute;
  right: 15.56%;
  left: 76.32%;
  width: 8.12%;
  bottom: 56.45%;
  top: 32.52%;
  height: 11.04%;
}
.rectangle-1 {
  background: #2c333d;
  border-radius: 50px;
  width: 22.36%;
  height: 8.5%;
  position: absolute;
  right: 2.22%;
  left: 75.42%;
  bottom: 1.95%;
  top: 89.55%;
}
.next-page {
  color: #ffffff;
  text-align: left;
  font-family: "AbhayaLibreExtraBold-Regular", sans-serif;
  font-size: 50px;
  font-weight: 400;
  position: absolute;
  right: 2.22%;
  left: 79.24%;
  width: 18.54%;
  bottom: 1.07%;
  top: 91.31%;
  height: 7.62%;
}
